.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: pink;
  opacity: 0.4;
  margin-top: 0.5%;
  width: 40%;
  margin-left: 25%;


  
}
.link {
  margin-left: 10%;
  text-decoration: none;
  color: black;
}

.logo {
  text-decoration: none;
  color:black ;
}


