.about {
  background-image: url("../../../src/components/image/profile.jpg");
}

.about-dev {
  
  margin-top: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  border: solid pink;
  background-color: pink;
  border-width:2rem
}

.about-me {
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
  border: solid whitesmoke;
  background-color:whitesmoke;
  border-width:3rem;
 
}


li {
display: flex;
  font-size: 3rem;
  text-decoration : none;
  
  
  
  
  
}
