.project-container {
  display: flex;
}

.image-container {
  margin-left: 10rem;
  margin-top: 12rem;
  flex:1;

}
#title {
  margin-left: 150px;
  margin-bottom: 20px;
}

.details {
  margin-left: 10rem;
  margin-top: 10rem;
  margin-right: 15rem;
}

.edit-button {
  margin-left: 66%;
  margin-top: 5%;
}


#title, #about, #skills, #github, #deploy, #image-url{
  margin-top: 10px;
}

#github {
  
}