.project-container {
  display: flex;
}

.image-container {
  margin-top: 60px;
  flex:1;

}
#title {
  margin-left: 150px;
  margin-bottom: 20px;
}

.details {
  margin-left: 50px;
  margin-top: 60px;
}

.edit-button {
  margin-left: 66%;
  margin-top: 5%;
  
}

#title, #about, #skills, #github, #deploy, #image-url{
  margin-top: 10px;
}

