.project-container-detail {
  display: flex;
}

.image-container {
  margin-left: 10rem;
  margin-top: 23rem;
  flex:1;

}
#title {
  margin-left: 15rem;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  
}

.details {
  margin-left: 10rem;
  margin-top: 10rem;
  margin-right: 15rem;
}

.edit-button {
  margin-left: 35rem;
  margin-right: 85rem;
  margin-top: 2rem;
  background-color: pink;
  border: 0;
  font-size: 1.3rem;
  
}

.edit-link {
  text-decoration: none;
  color: black;
}


#title, #about, #skills, #github, #deploy, #image-url{
  margin-top: 10px;
}

.header {
  text-decoration:underline
}

@media screen and (max-width:375px) {
  .project-container-detail {
    display: flex;
  }

  .image-container {
    margin-left: 10rem;
    margin-top: 23rem;
    flex:1;
}
}