.home {
  background-image: url("../../../src/components/image/me321.jpg");
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y:scroll;
  height: 100vh;
  width: 100vw;
}


#name {
  font-size: 15px;
  color: whitesmoke;
}


.name1 {
 display: flex;
 justify-content: center;
 padding-top: 16rem;
 margin-right: 40rem;
 margin-left: 20rem;
 
 
}
.name2 {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  margin-right: 40rem;
  margin-left: 25%;
  
 }

 




.desc {
  color:rgba(202, 171, 171, 0.82);
  padding-left: 42%;
  font-size: 1rem;
  padding-top: 5rem;

}


.em-wider {
  letter-spacing: 1em;
}
.home-link {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.project-button {

  margin-left: 49rem;
  margin-top: 2%;
  background: rgba(202, 171, 171, 0.82);
  border: none;
  transition: transform .2s;

}
.project-button:hover {
  transform: scale(1.5)
}

.about-button {
  margin-left: 12rem;
  background: rgba(202, 171, 171, 0.82);
  border: none;
  transition: transform .2s;
}

.about-button:hover {
  transform: scale(1.5)
}

@media screen and (max-width:375px) {
  .name1 {
    
    
    
   }
   .name2 {
     margin-left: 30rem;
     
    }
    .desc {
      color:rgba(202, 171, 171, 0.82);
      padding-left: 4rem;
      font-size: 1rem;
    
    }

    .project-button {
      margin-left: 10rem;
      margin-top: 2%;
      background: rgba(202, 171, 171, 0.82);
      border: none;
      transition: transform .2s;
    
    }
    .project-button:hover {
      transform: scale(1.5)
    }
    
    .about-button {
      margin-left: -3.5rem;
      margin-top: 2rem;
      background: rgba(202, 171, 171, 0.82);
      border: none;
      transition: transform .2s;
    }
    
    .about-button:hover {
      transform: scale(1.5)
    }
}