.projects-container {
  overflow: auto;
  display: flex;
  grid-gap: 10rem 15rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
  max-width: 1400px;
  
}

.create-button {
  margin-left: 40rem;
  margin-top: 10rem;
  background-color: pink;
  border: 0;
  font-size: 2rem;
  
}

.create-link {
  text-decoration: none;
  color: black;
}


