/* ul {
  margin-top: 2rem;
} */

.project-title {
  margin-left: -18rem;

}


.projects-container {
  overflow: auto;
  display: flex;
  grid-gap: 10rem 15rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
  max-width: 1600px;
  
}

.create-button {
  margin-left: 50rem;
  margin-top: 2rem;
  background-color: pink;
  border: 0;
  font-size: 1.5rem;
  
}

.create-link {
  text-decoration: none;
  color: black;
}

.page-container {
  overflow: auto;
  display: flex;
  grid-gap: 10rem 15rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
  max-width: 1600px;
}

@media screen and (max-width:375px) {

  .create-button {
  
    margin-top: 2rem;
    background-color: pink;
    border: 0;
    font-size: 1.5rem;
    
  }
  
  .create-link {
    text-decoration: none;
    color: black;


}

.project-title {
  margin-left: 100rem;

}
}